<mat-toolbar>
  <span><button mat-button color="white" routerLink="/home"><i class="material-icons">home</i></button></span>
  <span class="title">hApp</span>
  <span><button mat-button color="white"><mat-icon svgIcon="controls"></mat-icon></button></span>
</mat-toolbar>

<mat-card class="example-card">
   
    <img mat-card-image src="assets/images/grey.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <mat-card-header>
            <mat-card-title>Pin Name</mat-card-title>
            <mat-card-subtitle>Distance</mat-card-subtitle>
          </mat-card-header> 
      <p>
        Fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proidant, sunt in culpa qui officia
        deserunt.
      </p>
    </mat-card-content>
  </mat-card>
  <div>
    <div class="button-row">
        <button mat-button color="white"><i class="material-icons">arrow_back</i></button>
        <div style="padding-right:50px">
            <button mat-fab color="white"><i class="material-icons">close</i></button>
        </div>
        <div>
            <button mat-fab color="white"><i class="material-icons">favorite</i></button>
        </div>
        <button mat-button><i class="material-icons">more_horiz</i></button>
    </div>
  </div>